* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #E085BC; 
}

body {
    background-image: url("photos/shapes_DLF.jpg"); 
    background-position: center; 
    /* background-attachment: scroll;  */
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 480px;
    min-width: 480px; 
}

.center {
    background-color: rgb(255, 255, 255, 0.8); 
    padding: 50px 10px; 
    margin-left: 150px; 
    margin-right: 150px; 
    min-block-size: 770px; 
}

.top {
    margin-top: 0 auto; 
    margin-bottom: 20px; 
    display: flex; 
}

.top h1 {
    margin-right: 20%; 
    letter-spacing: 5px; 
}

ul {
    display: flex; 
    list-style: none!important;
    margin: 1rem 0; 
    text-align: right; 
    float: right; 
}

ul li a {
    margin-right: 10px; 
    letter-spacing: 3px; 
    text-decoration: none; 
    font-weight: 700; 
}

.stuff {
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin: 50px 80px;  
}

.me img {
    border-radius: 50%; 
    margin-right: 20px; 
    float: none; 
}

.description {
    text-align: left; 
    line-height: 40px; 
    clear: none; 
}

.description h1 h2 {
    line-height: 30px; 
}

