* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #E085BC; 
}

body {
    background-image: url("photos/shapes_DLF.png"); 
    background-position: center; 
    background-attachment: scroll; 
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 110px;
    padding: 160px; 
}


.center {
    background-color: rgb(255, 255, 255, 0.5); 
    padding: 50px 10px; 
    margin-left: 150px; 
    margin-right: 150px; 
    min-block-size: 770px; 
}

.top {
    margin-top: 0 auto; 
    margin-bottom: 20px; 
    display: flex; 
}

.top h1 {
    margin-right: 30%; 
}

ul {
    display: flex; 
    list-style: none!important;
    margin: 1rem 0; 
    text-align: right; 
    float: right; 
}

ul li a {
    margin-right: 10px; 
    letter-spacing: 3px; 
    text-decoration: none; 
    font-weight: 700; 
}

.stuff {
    display: grid; 
    justify-content: space-between; 
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
}

.items {
    margin-right: 100px; 
}

