* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #E085BC; 
}

body {
    background-color: rgb(254, 245, 229);
}


.center {
    background-color: rgb(255, 255, 255, 0.8); 
    padding: 50px 10px; 
    margin-left: 150px; 
    margin-right: 150px; 
    min-block-size: 770px; 
}


.top {
    margin-top: 0 auto; 
    margin-bottom: 20px; 
    display: flex; 
}

.top h1 {
    margin-right: 40%; 
    letter-spacing: 5px; 
}

.top ul {
    display: flex; 
    list-style: none!important;
    margin: 1rem 0; 
    text-align: right; 
    float: right; 
}

.top ul li a {
    margin-right: 10px; 
    letter-spacing: 3px; 
    text-decoration: none; 
    font-weight: 700; 
}

.header {
    clear: both; 
    display: block; 
}

.resume {
    margin-top: 50px; 
}

.heading {
    margin-bottom: 30px; 
}

.heading h1 {
    text-align: center; 
    text-decoration: underline; 
    margin-bottom: 20px; 
}

.heading ul {
    text-align: left; 
    margin-left: 20px; 
}

.heading p {
    text-align: center; 
    line-height: 30px; 
}

.job {
    margin-left: 20px; 
    margin-right: 20px; 
}

.job h2 {
    margin-bottom: 10px; 
    font-size: 18pt; 
    font-weight: 800; 
}

.job h3 {
    font-weight: 300; 
    font-size: 14pt; 
    margin-bottom: 20px; 
}

.job ul li{
    line-height: 20px; 
    margin-bottom: 20px; 
}

.skills ul {
    column-count: 2; 
    display: grid; 
    flex-wrap: wrap; 
    text-align: center; 
    grid-template-columns: 1fr 1fr; 
}

.skills ul li {
    margin-left: 40px; 
    margin-bottom: 10px; 
    list-style: none; 
}
